<div class="todo-list" *ngIf="todos.length > 0">

  <app-todo-item *ngFor="let todo of todos; let index = index"
                 [index]="index"
                 [todo]="todo"
                 (delete)="delete($event)"></app-todo-item>
</div>
