header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2e17d2;
  height: 56px;
  min-height: 56px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
  color: white;

  h1 {
    font-weight: 100;
    font-size: 28px;
    margin: 0 0 0 10px;
  }
}
