<header>
  <h1>Колличество задач: {{ counter }} </h1>
  <nav class="nav-link">
    <a routerLink="/" class="router-links">User</a>
    <a routerLink="/todo-list" class="router-links">Todo</a>
    <a routerLink="/add" class="router-links">Add</a>
  </nav>
  <ng-template #showMessage>
    <h1>Добавьте задачи..</h1>
  </ng-template>
</header>
