.todo-item {
  padding: 1.5em;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.todo-item:not(:first-child) {
  border-top: 1px solid rgba(0,0,0,.1);
}

.todo-item .checkbox {
  margin-right: .25em;
}

.todo-item.completed .details  {
  text-decoration: line-through;
}

.todo-item.completed {
  background: cornflowerblue;
  border-bottom: 1px solid #fafafa;
}

.todo-item.completed .details,
.todo-item.completed .title,
.todo-item.completed .material-icons {
  color: #fafafa;
}

.todo-item input {
  flex: 1;
  margin-right: 1rem;
}

.todo-item .actions {
  margin-left: auto;
  opacity: 0;
  transition: all .2s;
}

.todo-item:hover .actions {
  opacity: 1;
}

// Add color to Even-item
.colored {
  color: #fafafa;
  background: lighten(#2e17d2, 40%);
}

span {
  text-transform: uppercase;
}

span.details {
  text-transform: none;
  font-size: 14px;
  font-weight: normal;
  color: #2e17d2;
  text-decoration: none;
}

.block {
  //color: black;
  display: grid;
  grid-auto-flow: row;
  justify-content: start;
  align-content: start;
  text-align: left;
  grid-row-gap: 20px;
  margin-left: 30px;
  //background: yellow;
}
