<div class="todo-item" [ngClass]="{'completed': todo.completed, 'colored': colorEvenItem()}">
  <button class="checkbox icon" (click)="onToggle()">
    <i class="material-icons">{{ complite() }}</i>
  </button>

  <div class="block">
    <span class="title">{{ todo.title }}</span>
    <span class="details">{{ todo.description }}</span>
  </div>

  <div class="actions">
    <button class="delete_icon" (click)="onDelete()">
      <i class="material-icons">delete</i>
    </button>
  </div>
</div>
