<form class="todo-form" (ngSubmit)="create(); formTodo.reset()" #formTodo="ngForm">
  <input type="text" placeholder="Название задачи"
         name="title"
         [(ngModel)]="newTodoTitle"
         required>

  <textarea id="" cols="30" rows="3" placeholder="Добавьте новую задачу"
            name="task"
            [(ngModel)]="newTodoTask"
            required></textarea>

  <button [disabled]="formTodo.form.invalid">Добавить</button>
</form>
