:host{
  width: 100%;
}

.todo-form {
  display: grid;
  grid-gap: 10px;
  margin-bottom: 10px;

  input,
  textarea {
    border-radius: 6px;
    border: .5px solid lightgrey;
    padding: 10px;
    font-size: 14px;
    color: #757575;
    //outline: none;
  }

  textarea {
    resize: none;
  }

  button {
    display: grid;
    width: auto;
    justify-self: end;
  }
}
